body{
    margin: 0;
    background-color: rgb(37, 37, 37);
}

#adorno{
    height: 90px;
    background-color: rgb(39, 39, 173);
    display: flex;
    align-items: center;
    justify-content: center;

}

form{
    width: 1000px;
    margin: auto;
    text-align: justify;
    background-color: rgb(182, 179, 179);
    padding: 15px 0px;
    padding: 20px 30px;
    border: 2px solid black;
}

.tabla, th, td{
    border: 1px solid black;
    font-size: 18px;
}

.botonesTe{
    margin-left: 15px;
    border-radius: 20px;
    position: relative;
    
}

button:hover{
    background-color: rgb(99, 99, 226);
   }

 a{
 color: aliceblue;
 font-size: 40px;
 width: 20%;
 text-align: center;
}

.etiqueta{
    font-size: 15px;
    margin-top: 10px;
    display:block;
}